In [1]:
import psycopg2
import os

In [2]:
os.environ['USERNAME'] = 'postgres'
os.environ['PASSWORD'] = '<password>'

In [3]:
USER = os.environ['USERNAME']
PASSWORD = os.environ['PASSWORD']

In [4]:
USER

'postgres'

In [5]:
len(PASSWORD)

12

In [9]:
conn = psycopg2.connect(
    host='192.168.4.25',database='ecomm',
                        user=USER,
                        password=PASSWORD,
                        port=5432)

In [10]:
conn

In [11]:
cursor = conn.cursor()

In [12]:
cursor

In [13]:
del cursor

#

In [14]:
def getProductsByType(db_conn,prod_type):
    cursor = db_conn.cursor()
    sql_string = "SELECT * FROM products WHERE product_type = %s"
    cursor.execute(sql_string,[prod_type])
    return cursor.fetchall()

In [15]:
all_ovents = getProductsByType(conn,'oven')
all_ovents

[(1, 'Reflector oven', 'oven'),
 (2, 'Convection microwave', 'oven'),
 (15, 'Masonry oven', 'oven'),
 (24, 'Microwave oven', 'oven'),
 (32, 'Russian oven', 'oven'),
 (33, 'Clome oven', 'oven'),
 (34, 'Convection oven', 'oven'),
 (37, 'Beehive oven', 'oven'),
 (38, 'Toaster and toaster ovens', 'oven'),
 (41, 'Self-cleaning oven', 'oven'),
 (42, 'Wood-fired oven', 'oven'),
 (43, 'Kitchener range', 'oven'),
 (47, 'Oven', 'oven'),
 (48, 'Hot box (appliance)', 'oven'),
 (58, 'Tabun oven', 'oven'),
 (67, 'Chorkor oven', 'oven'),
 (72, 'Communal oven', 'oven'),
 (74, 'Halogen oven', 'oven'),
 (78, 'Stove', 'oven'),
 (80, 'Earth oven', 'oven')]

In [16]:
len(all_ovents)

20

In [17]:
cursor = conn.cursor()
fetchall_cnt = 0

for oven in all_ovents:
    oven_id = oven[0]              # pull the first element of the tuple
    sql_string = "SELECT * FROM products WHERE product_id = %s"
    cursor.execute(sql_string,[oven_id])
    oven_order = cursor.fetchall()
    fetchall_cnt += 1
    print(oven_order, "\n")
    print("Fetchall count: %s" % fetchall_cnt)

[(1, 'Reflector oven', 'oven')]

Fetchall count: 1
[(2, 'Convection microwave', 'oven')]

Fetchall count: 2
[(15, 'Masonry oven', 'oven')]

Fetchall count: 3
[(24, 'Microwave oven', 'oven')]

Fetchall count: 4
[(32, 'Russian oven', 'oven')]

Fetchall count: 5
[(33, 'Clome oven', 'oven')]

Fetchall count: 6
[(34, 'Convection oven', 'oven')]

Fetchall count: 7
[(37, 'Beehive oven', 'oven')]

Fetchall count: 8
[(38, 'Toaster and toaster ovens', 'oven')]

Fetchall count: 9
[(41, 'Self-cleaning oven', 'oven')]

Fetchall count: 10
[(42, 'Wood-fired oven', 'oven')]

Fetchall count: 11
[(43, 'Kitchener range', 'oven')]

Fetchall count: 12
[(47, 'Oven', 'oven')]

Fetchall count: 13
[(48, 'Hot box (appliance)', 'oven')]

Fetchall count: 14
[(58, 'Tabun oven', 'oven')]

Fetchall count: 15
[(67, 'Chorkor oven', 'oven')]

Fetchall count: 16
[(72, 'Communal oven', 'oven')]

Fetchall count: 17
[(74, 'Halogen oven', 'oven')]

Fetchall count: 18
[(78, 'Stove', 'oven')]

Fetchall count: 19
[(80, 'Earth oven', 'oven')]

Fetchall count: 20

In [18]:
def getProductOrdersByType(db_conn,prod_type):
    cursor = db_conn.cursor()
    sql_string = "SELECT po.* \
                   FROM product_orders po \
                    INNER JOIN products p \
                    ON po.product_id = p.product_id \
                        WHERE p.product_type = %s"
    cursor.execute(sql_string,[prod_type])
    return cursor.fetchall()

In [19]:
getProductOrdersByType(conn,'oven')

[(2, 58, 5, Decimal('102.97')),
 (2, 80, 1, Decimal('181.54')),
 (3, 24, 5, Decimal('131.20')),
 (4, 1, 1, Decimal('296.47')),
 (5, 2, 2, Decimal('270.24')),
 (8, 42, 2, Decimal('99.52')),
 (9, 15, 3, Decimal('53.26')),
 (12, 34, 3, Decimal('251.16')),
 (12, 48, 4, Decimal('20.08')),
 (14, 72, 2, Decimal('118.64')),
 (16, 47, 1, Decimal('246.68')),
 (18, 42, 1, Decimal('281.35')),
 (21, 2, 2, Decimal('196.39')),
 (21, 48, 5, Decimal('52.86')),
 (23, 1, 4, Decimal('30.99')),
 (23, 78, 3, Decimal('245.55')),
 (24, 32, 3, Decimal('70.57')),
 (24, 78, 4, Decimal('21.83')),
 (25, 58, 4, Decimal('85.03')),
 (26, 80, 3, Decimal('30.75')),
 (27, 74, 1, Decimal('202.45')),
 (28, 34, 4, Decimal('72.18')),
 (28, 58, 2, Decimal('289.46')),
 (32, 24, 5, Decimal('60.54')),
 (35, 37, 4, Decimal('211.71')),
 (36, 24, 5, Decimal('93.13')),
 (38, 15, 2, Decimal('299.62')),
 (38, 33, 4, Decimal('236.11')),
 (38, 58, 3, Decimal('255.12')),
 (40, 33, 1, Decimal('227.86')),
 (40, 58, 2, Decimal('247.79')),
 (41, 15, 2, Decimal('158.61')),
 (41, 48, 3, Decimal('148.91')),
 (43, 48, 4, Decimal('120.45')),
 (45, 47, 1, Decimal('26.16')),
 (46, 43, 5, Decimal('207.13')),
 (46, 67, 3, Decimal('257.33')),
 (48, 47, 3, Decimal('262.16')),
 (49, 24, 4, Decimal('228.74')),
 (49, 37, 1, Decimal('162.63')),
 (50, 74, 5, Decimal('290.62')),
 (51, 37, 5, Decimal('271.15')),
 (56, 38, 4, Decimal('262.44')),
 (57, 1, 4, Decimal('124.53')),
 (58, 80, 3, Decimal('185.41')),
 (59, 48, 2, Decimal('164.11')),
 (61, 33, 2, Decimal('45.44')),
 (61, 37, 2, Decimal('256.34')),
 (62, 74, 4, Decimal('158.41')),
 (63, 1, 2, Decimal('131.79')),
 (67, 38, 5, Decimal('237.32')),
 (68, 80, 5, Decimal('175.18')),
 (69, 34, 5, Decimal('73.06')),
 (71, 34, 2, Decimal('75.19')),
 (71, 38, 5, Decimal('286.17')),
 (75, 38, 4, Decimal('96.06')),
 (77, 72, 3, Decimal('103.48')),
 (80, 58, 1, Decimal('95.93')),
 (81, 24, 2, Decimal('283.90')),
 (82, 33, 3, Decimal('29.96')),
 (82, 80, 2, Decimal('140.09')),
 (85, 48, 5, Decimal('232.08'))]

In [26]:
# write function that executes an sql query to retrieve all product orders and product type is fryer
# also quantity greader than 3
# Do not use N+1 query

def getProductOrdersByType2(db_conn,prod_type):
    cursor = db_conn.cursor()
    sql_string = "SELECT p.* \
                    From product_orders p \
                    INNER JOIN products pr \
                    ON p.product_id = pr.product_id \
                    WHERE pr.product_type = %s AND p.quantity > %s"
    cursor.execute(sql_string,[prod_type,3])
    return cursor.fetchall()

In [27]:
getProductOrdersByType2(conn,'fryer')

[(1, 3, 5, Decimal('72.69')),
 (11, 3, 4, Decimal('296.83')),
 (18, 26, 5, Decimal('253.36')),
 (53, 3, 5, Decimal('161.05')),
 (53, 17, 4, Decimal('125.62')),
 (59, 54, 5, Decimal('272.47')),
 (70, 3, 4, Decimal('261.91'))]